<p>newfour works!</p>

<form>
    <label for="param1">Parameter 1:</label>
    <input type="text" name="param1" id="param1"><br>
    <label for="param2">Parameter 2:</label>
    <input type="text" name="param2" id="param2"><br>
    <input type="submit" value="Try it"><br><br>
</form>

<p>Parameter 1: {{valParam1}}</p>
<p>Parameter 2: {{valParam2}}</p>
<span style="color:red">
    Because param 3 was not queried, it doesn't 
    appear and doesn't produce errors
</span>
<p>Parameter 3: {{valParam3}}</p>